@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#79415d, #722087);

    
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #EDEDED;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;

}
.eslogan{
    text-align: center;
    color: #EDEDED;
    margin-bottom: 10px;
}
.enlace {
    color: #FFFFFF;
}
#imagen{
    width: 400px;
    margin: auto;
    display: block;
}
.botones{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center ;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.botonInicio{
    background-color: #7A4DFF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px; 
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
}