body{
    background: radial-gradient(#e2dcdc, #cf72e6) ;
 
}


.tipo-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #7A4DFF;
    background-color: #EDED;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

.tipo-btn:hover {
    transform: scale(1.05);
}

.tipo-btn img {
    margin-bottom: 10px;
}

#tipoUsuarioBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20;
}