@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background: radial-gradient(#e2dcdc, #cf72e6) ;
    font-family: 'Poppins', sans-serif;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.camposLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #e2dcdc;
    box-shadow: 4px 4px 15px 10px rgba(0,0,0,0.5);
    border-radius: 30px;
    gap: 20px;
    width: 370px;
    height: 300px;
    padding-top: 30px;
}

.btnInicioSesion{
    background-color: #7A4DFF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px; 
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
}

.camposLogin>input{
  
    background-color: #e2dcdc;
    border: 4px solid #7A4DFF;
    border-radius: 10px;
    width: 260px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
}

input:hover,.btnInicioSesion:hover{
    transform: scale(1.05);
}